body{
    background-color: rgb(255, 164, 228);
    padding-left: 0;
    margin: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.musicas{
    background-color: aliceblue;
    
}

h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 200);
   
}
.container{
    width: 100%;
    height: 100%;


    display: grid;
    align-items: center;
    display: flex;
}


p{
   background-color: black;
    color: rgb(255, 255, 255);
    margin: auto;
    font-size: large;
    border-radius: 10px;
    align-items: center;
}

    

